@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Roboto:wght@400;700&display=swap');
*{
    font-family: Roboto;
}

img{
    width: 100%;
  }
body {
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
#titulo{
    font-size: 140px;
    font-family: Kanit;
    font-weight: 400;
    color: #303030;
    margin: 0 auto;
    }

#polimeros{
    font-size: 70px;
    background-color: #F5746E;
    color: white;
    width: 75%;
    margin: 0 auto;
    border-radius: 20px;
    padding-top: 1%;
    padding-left: 1%;

}
#reciclar{
  font-size: 70px;
  background-color: #F5746E;
  color: white;
  width: 75%;
  margin: 0 auto;
  border-radius: 20px;
  padding-top: 1%;
  padding-left: 1%;

}
#experiencia{
  font-size: 70px;
  background-color: #6295EB;
  color: white;
  width: 75%;
  margin: 0 auto;
  border-radius: 20px;
  padding-top: 1%;
  padding-left: 1%;

}
#animais{
  font-size: 70px;
  background-color: #F5746E;
  color: white;
  width: 75%;
  margin: 0 auto;
  border-radius: 20px;
  padding-top: 1%;
  padding-left: 1%;

}
#materiais{
  font-size: 70px;
  background-color: #6295EB;
  color: white;
  width: 75%;
  margin: 0 auto;
  border-radius: 20px;
  padding-top: 1%;
  padding-left: 1%;
}
#experienciatitulo{
  font-family:'Kanit', sans-serif;
  font-size: 100px;
}

ul {
  list-style-type: none;
}

.text-card{
  font-size: 30px;
  color: white;
}

.titulo-card{
  font-size: 50px;
  color: white;
}

.container{
  width:500px;
  height:350px;
  perspective: 800px;
  align-items: center;
}

.container:hover > .card{
  cursor: pointer;
  transform: rotateY(180deg);
}

.card{
  height:100%;
  width:100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front, .back{
  height:100%;
  width:100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50,50,50,0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front{
  background-color: #F5746E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.back{
  background-color: #C85E59;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
