@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Roboto:wght@400;700&display=swap');

* {
  font-family: Roboto;
}

body {
  background-image: url('../img/background_alongado-100.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

#titulo {
  font-size: 40px;
  font-family: Kanit;
  font-weight: 400;
  color: #303030;
  margin: 0 auto;
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 40%;
  text-align: center;
}

.b {
  font-size: 36px;
}

.text-card {
  font-size: 15px;
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: center;
  overflow: scroll;
}

.titulo-card {
  font-size: 20px;
  color: white;
  padding: 5%;
  margin-block-start: 0;
  margin-block-end: 0;
  align-self: left;
}

.container {
  width: 95%;
  height: 150px;
  perspective: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
}

.card {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  padding-bottom: 5%;
}

.front-blue,
.back-blue,
.front-red,
.back-red {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.front-red {
  background-color: #F5746E;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.front-blue {
  background-color: #6295EB;
  display: flex;
  flex-direction: column;
}

.back-red {
  background-color: #C85E59;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back-blue {
  background-color: #4A76BF;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 2%;
  border: none;
  border-radius: 2rem;
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
  font-size: 15px;
}

.comecar {
  background-color: #6295EB;
  margin-bottom: 5%;
}

.ver-exemplos {
  background-color: #F5746E;
  margin-bottom: 5%;
}

#experienciatitulo {
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: #303030;
  margin: 0 auto;
  margin-top: 8%;
}

.b-experiencia {
  font-size: 27px;
}

.passos-experiencia {
  margin: 10%;
  padding: 5%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #6295EB;
}

#materiais {
  margin: 10%;
  padding: 5%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4A76BF;
  margin-top: 40%;
}

.materiais-necessarios {
  text-align: center;
  font-size: 20px;
}

ul {
  list-style-type: none;
  font-size: 15px;
}

li {
  margin-bottom: 5%;
}

.cartaoposreciclagem {
  margin: 10%;
  padding: 5%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F5746E;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 20px;
  position: relative;
}

.fazrodar {
  cursor: pointer;
  transform: rotateY(180deg);
}

.img_card {
  position: absolute;
  top: 10px;
  left: 20px;
}

.img_lixoflutua {
  position: absolute;
  z-index: 1;
}

.experiencia {
  background-image: url('../imgmobile/background_experiencia_mobile1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.bt_afunda {
  font-weight: bold;
  color:white;
  font-size:15px;
  border-radius: 2rem;
  border-style: none;
  width: 100px;
  height: 50px;
  background-color: #17A0C0;
}

.bt_afunda:disabled{
  color:#89d6e6;
}

.bt_naoafunda {
  font-weight: bold;
  color:white;
  font-size:15px;
  border-radius: 2rem;
  border-style: none;
  width: 100px;
  height: 50px;
  background-color: #EF6A87;
}

.bt_naoafunda:disabled{
  color:#e8bac4;
}

.bt_anterior {
  font-weight: bold;
  color: white;
  font-size:15px;
  margin: 2%;
  border-radius: 2rem;
  border-style: none;
  width: 100px;
  height: 50px;
  background-color: #62a4b3;
}

.bt_seguinte {
  font-weight: bold;
  color: white;
  font-size:15px;
  border-radius: 2rem;
  border-style: none;
  width: 100px;
  height: 50px;
  background-color: #F5746E;
}

.grafico {
  width: 273px;
  height: 120px;
}

.bt_voltar {
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 20px red;
  margin-left: 10%;
  bottom: 5px;
}

.bt_voltar:active {
  color: white;
}

.bt_continuar {
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 20px red;
  margin-left: 10%;
  bottom: 5px;
}

.bt_continuar:active {
  color: white;
}

.bt_home {
  top: 10px;
  right: 10px;
  position: fixed;
  margin: 0px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bt_posreciclagem{
  border-radius: 2rem;
  border-style: none;
  width: 150px;
  height: 30px;
  background-color: #EF6A87;
  box-shadow: 5px 5px #d7244b;
  margin:auto;
  display:block;
  padding:20px 0px 0px 0px;
}
.bt_autores{
  border-radius: 3rem;
  border-style: none;
  width: 150px;
  height: 30px;
  background-color: #17A0C0;
  box-shadow: 5px 5px #0c7087;
  margin:auto;
  display:block;
  font-size:15px;
  font-weight: bold;
  color:white;
}

.img_tartaruga{
  position:absolute;
}

.img_placapraia{
  position:absolute;
}